@page
@model PrivacyModel
@{
    ViewData["Title"] = "Documentation";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>This website hosts a web application called "Calculator," which provides the following features:</p>

<h2>Getting Started</h2>
<p>Users are provided with instructions on how to start the project. They can click on the project start button labeled "http," or execute the command "dotnet run" in the "PowerShell for Developers" console.</p>

<h2>Project Documentation</h2>
<p>The documentation is divided into weeks and includes descriptions of various functions and components implemented each week, such as:</p>
<ul>
    <li>Page styling</li>
    <li>Form for entering mathematical expressions</li>
    <li>JavaScript functions for processing entered expressions and plotting graphs</li>
    <li>Implementation of a calculator with basic arithmetic operations, exponentiation functions, percentage calculation, trigonometric functions, and logarithms</li>
    <li>Implementation of a graphical plotter for plotting graphs of mathematical expressions</li>
    <li>Implementation of equation solving (linear and quadratic)</li>
    <li>Implementation of a unit converter</li>
    <li>Implementation of a matrix calculator for performing addition, subtraction, multiplication, finding determinants, and finding inverse matrices</li>
</ul>
